---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} • 
    <span class="post-meta">
      {% for cat in page.categories %}
        {{ cat }}
      {% endfor %} 
    </span>
   <br/>
    <span class="post-meta">Keys:
      {% for tag in page.tags%}
        {{ tag }}{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </span>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
<p>
<center><span class="post-meta" style="color:#fdac34;font-size:12px;letter-spacing:-1px;
">众筹五块五&nbsp;&nbsp;给您出本书</span><br/>
<img src="/assets/img/pay.png" width="130"></img></center>
</p>

  {% if site.comments %}
    {% include intensedebate-comments.html %}
  {% endif %}

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
